<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wecharades"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SectionListViewTheme" >

        <!-- Start Screen Activity -->
        <activity
            android:name=".views.StartActivity"
            android:label="@string/menu" >
            <!-- DEFAULT STARTING SCREEN -->
        </activity>
        	
        <!-- New Game Activity -->
        <activity
            android:name=".views.NewGameActivity"
            android:label="@string/new_game">
           	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Search Player Activity -->
        <activity
            android:name=".views.SearchPlayerActivity"
            android:label="@string/player" >
        </activity>
        
        <!-- Search Result Activity -->
        <activity
            android:name=".views.SearchResultActivity"
            android:label="@string/game" >
        </activity>
        
        <!-- Game Dashboard Activity -->
        <activity
            android:name=".views.GameDashboardActivity"
            android:label="@string/game" >
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".views.LoginActivity"
            android:label="Login Account" >
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".views.RegisterActivity"
            android:label="Register New Account" >
        </activity>

        <!-- Reset Password Activity -->
        <activity
            android:name=".views.ResetPasswordActivity"
            android:label="Reset Password" >
        </activity>

        <!-- VideoUploadActivity -->
        <activity
            android:name=".views.VideoUploadActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" />

        <!-- CaptureVideo Activity -->
        <activity
            android:name=".presenter.CaptureVideo"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.START_VIDEO_CAMERA" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GameActivity Activity -->
        <activity
            android:name=".views.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".views.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <!-- GuessCharadeActivity Activity -->
        <activity
            android:name=".views.GuessCharadeActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" />
    </application>

</manifest>